
/*Font Setup for buttons*/
.gabarito-Buttons {
    font-family: "Gabarito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: 51px;
  }

  
.gantari-font> {
    font-family: "Gantari", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: 13px ;
  }
  :root {
    --blue-color: #0156A6
}

body {
    
    margin: 0;
    font-family: 'Gabarito', sans-serif;
}
nav {
    background-color: var(--blue-color);
    display: flex;
    height: 5vh;
}

#hero {
    background-image: url(/IMages/Hero-Image.png );
    background-size: 100%;
    height: 100vh;
    background-repeat: none;
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#Hero-Text {
    height: 410px;
    width: 576px;
}

a {
    text-decoration: none;
    border-radius: 60px;
    background-color: #01A640;
    color: white;
    height: 12vh;
    width: 25vw;
    font-family: "Gabarito";
    font-size: 51px;
    outline: none;
    border: #01A640;
    text-align: center;
    line-height: 12vh;
}


footer {
   display: flex;
   justify-content: center;
   align-items: center;
   flex: 1;
   color:white;
   text-align: center;
}

#bottom-nav {
    height: 10vh;
    width: 100%;
    background: linear-gradient(90deg, #0076A8, #002E42 100%)

   
}
#welcome-screen > a{
    line-height:7vh;
    height:7vh;
}


#welcome-screen {
    font-family: "gantari";
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
}
#welcome-screen > h1{
    font-size:50px;
}

#welcome-screen > p {
    color: #606060;
    font-size:30px;
}

#nextButton {
    text-decoration: none;
    border-radius: 56px;
    background-color: #01A640;
    color: white;
    height: 6vh;
    width: 12vw;
    font-family: "Gabarito";
    font-size: 30px;
    outline: none;
    border: #01A640
}

#income {
    padding: 0;
    background-color:#d9d9d9;
    width:32vw;
    height: 8.5vh;
    color:#818080;
}
.dropdown > select{
    border:none;
    padding: 0;
    font-size:25px;
    color:#818080;
    background-color:#d9d9d9;
    width:32vw;
    height: 8.5vh;
    margin-bottom:5vh;
}
.net-income {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
}
.net-imcome h1{
    font-size:50px;
}
.net-income > p {
    color: #606060;
    font-size:30px;
}
#userExpenses{
    display:flex;
    flex-flow:row wrap;
    width: 80vw;
}
#userExpenses label{
    width:20%;
}
#userExpenses input{
    width:80%;
}